<footer class="container-fluid footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h2>@Html.ActionLink("*Forecast Logo", "Index", "Home")</h2>
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
            </div>

            <div class="col-sm-3">
                *Footer Info
            </div>

            <div class="col-sm-3">
                *Footer Info
            </div>

            <div class="col-sm-3">
                <h3>Contact Us</h3>
                <p>
                    <a href="mailto:thomas.black@live.nl" class="btn btn-grey btn-medium">Send an email</a>
                </p>
            </div>
        </div>
    </div>
</footer>

