<div class="navbar navbar-home navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Forecast", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">

            @Html.Partial("_LoginPartial")
            <ul class="nav navbar-nav navbar-links">

                <li>@Html.ActionLink("Analytics", "Index", "Platform")</li>
                <li>@Html.ActionLink("Forecasting", "Index", "Platform")</li>
            </ul>
        </div>
    </div>
</div>
