@using Forecastsite.Models
@model LoginViewModel
@{
    ViewBag.Title = "Sign in";
}


<div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-4 login">
            <h2>Sign in</h2>
            @Html.Partial("_Login")
        </div>
        <div class="col-md-4 register">
            @Html.Partial("_Register")
        </div>
        <div class="col-md-offset-2 col-md-10">
            <section id="socialLoginForm">
                <b>TODO:</b>
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}