@{
    ViewBag.Title = "DataForecast.io";
}
<div class="container-fluid standard-page">
    <div class="col-xs-offset-2 col-xs-6">
        Info about us....


    </div>

    <div class="col-xs-4">
        Picture here???
    </div>
</div>
