
<div class="navbar navbar-platform navbar-inverse navbar-fixed-top navbar-platform">
    <div class="navbar-header">
        @Html.ActionLink("Back to site", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-links">
        </ul>
    </div>
</div>
